.collapsContent {
   
    max-width: 1000px;
    margin: 0 auto;
   
    .headCollaps {
       display: flex;
       justify-content: space-between;
       align-items: center;
       border-radius: 5px;
       background-color: #ff6060;
       color: white;
       padding: 10px;
       cursor: pointer;
       align-items: center;
       @media screen and (max-width:425px) {
         width: 85%;
}
   
       .arrow {
        transition: transform 315ms ease-in-out;
       }
       
       .arrow.open {
        transform: rotate(-180deg);
       }
       
    }
   
    .headCollapsContent {
      display: flex;
      align-items: center;
      width: 80%;
      overflow: hidden; // Cache le contenu jusqu'à ce qu'il soit ouvert
      max-height: 0; // Commence avec une hauteur minimale
      transition: max-height 315ms ease ;// Ajoute une transition pour l'effet de glissement
      font-family: "Montserrat";


     &.open {
      max-height: 200px;
      transition: max-height 1s ease // Hauteur maximale avant de passer à une hauteur dynamique


     }
    }
     
p{
   margin: 0 auto;

   @media screen and (max-width: 425px) {
      margin: unset;
   }
}
   }