.banner{
    position: relative;
    max-width: 100vw;
    padding-inline: 0 32px;
    background-size: cover; /* Assure que l'image couvre tout l'espace */
    background-position: center; /* Centre l'image dans le conteneur */
    background-repeat: no-repeat; /* Évite les répétitions de l'image */
    margin: auto;
    height: 223px;
    width: 1240px;
    display: grid;
    place-items: center;
       
@media screen and (max-width: 1024px) {
    width: auto;
    margin: 0px 15px;
}

 }

 .banner img {
border-radius: 15px;
filter: brightness(0.5);

 }
 .banner h1 {
    color: white;
    position: absolute; /* Important pour que le z-index fonctionne */
    z-index: 1; /* Devant */
}


.banner::after {
    position: absolute;
    border-radius: 15px;
    content: "";
    inset: 0;
    color: black;
    opacity: 0.5;
    z-index: 0; /* Derrière */
}


.banner-about{
    position: relative;
    max-width: 100vw;
    padding-inline: 0 32px;
    background-image: url("../../images/about_cover.png");
    background-size: cover; /* Assure que l'image couvre tout l'espace */
    margin: auto;
    height: 223px;
    width: 1240px;
    border-radius: 15px;
   
}
