.banner {
    max-width: 1440px;
    position: relative;
    background-image: url(../../images/home_cover.png); /* Remplacez par votre image */
    background-size: cover; /* Image couvre tout l'espace */
    background-position: center; /* Centre bien l'image */
    background-repeat: no-repeat; /* Pas de répétition */
    margin: auto;
    height: 223px; /* Hauteur par défaut */
    display: flex; /* Centrage horizontal et vertical */
    justify-content: center;
    align-items: center;
    border-radius: 15px; /* Coins arrondis */
 

    @media screen and (max-width: 425px) { 
        width: 335px; /* Largeur pour mobile */
        height: 111px; /* Hauteur pour mobile */
    }

    @media screen and (max-width: 1024px) {
        width: auto; /* Largeur adaptable pour tablettes */
        margin: 0 15px; /* Espacement latéral */
    }
}

.banner p {
    font-family: 'Montserrat', sans-serif; /* Police élégante */
    font-size: 2.5rem; /* Taille du texte par défaut */
    color: white; /* Texte blanc */
    font-weight: 600; /* Épaisseur du texte */
    z-index: 1; /* Devant la couche sombre */
    margin: 0;
    text-align: center; /* Centre le texte */

    @media screen and (max-width: 425px) {
        font-size: 1.4rem; /* Taille réduite pour mobile */
        margin-left: 0; /* Supprime l'espace inutile */
    }
}

.banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35); /* Couche sombre ajustée */
    border-radius: 15px; /* Coins arrondis */
    z-index: 0; /* Derrière le texte */
}




.banner-about{
    max-width: 1440px;
    position: relative; 
    background-image: url("../../images/about_cover.png");
    background-size: cover; /* Assure que l'image couvre tout l'espace */
    margin: auto;
    height: 223px;
    width: 95%;
    border-radius: 15px;
   
    @media screen and (max-width: 768px) { 
    
        margin: 0 auto;
    }
}
